.PrevBtn{
    border-radius: 100px 0px 0px 100px;
    color: white;
    background-color: gray;
    opacity: 0.5;
    height: 80px;
    font-family: Ropa Sans;
    width: 50px;
    /* display: inline-block; */
    cursor: pointer;
    /* margin: 0px auto; */
    position: absolute;
    margin: 25% 0px 25% 20px;
    opacity: 0.5;
    background-image: url("../../../arrow.svg");
    background-repeat: no-repeat;
    background-position: right;
    transform: rotate(180deg);
}

.NextBtn{
    border-radius: 100px 0px 0px 100px;
    color: white;
    background-color: gray;
    opacity: 0.5;
    height: 80px;
    font-family: Ropa Sans;
    width: 50px;
    cursor: pointer;
    position: absolute;
    margin: 25% 0px 25% 20px;
    right: 20px;
    background-image: url("../../../arrow.svg");
    background-repeat: no-repeat;
    background-position: right;
}


@media only screen and (min-width: 480px)   {

    .PrevBtn{
        border-radius: 10px 0px 0px 10px;
        color: white;
        background-color: blue;
        border: blue;
        height: 50px;
        font-family: Ropa Sans;
        width: 50px;
        display: inline-block;
        cursor: pointer;
        margin: 0px auto;
        opacity: 1;
        background-image: none;
        transform: none;
        position: unset;
    }
    
    .NextBtn{
        border-radius: 0px 10px 10px 0px;
        color: white;
        background-color: blue;
        border: blue;
        height: 50px;
        font-family: Ropa Sans;
        width: 50px;
        display: inline-block;
        cursor: pointer;
        margin: auto 20px;
        background-image: none;
        opacity: 1;
        right: unset;
        position: unset;
    }
    
  }