@import "../../../index.scss";

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
.PrevBtn{
    @include mobile_btn(gray);
    border-radius: 100px 0px 0px 100px;
    position: absolute;
    background-image: url("../../../arrow.svg");
    background-repeat: no-repeat;
    background-position: right;
    left: 20px;
    transform: translateY(-60%) rotate(180deg);
}

.NextBtn{
    @include mobile_btn(gray);
    border-radius: 100px 0px 0px 100px;
    position: absolute;
    right: 20px;
    background-image: url("../../../arrow.svg");
    background-repeat: no-repeat;
    background-position: right;
    transform: translateY(-60%);
}


@media only screen and (min-width: 480px)   {

    .PrevBtn{
        @include desktop_btn(#191970);
        border-radius: 10px 0px 0px 10px;
        display: inline-block;
        transform: none;
        position: unset;
        position: relative;
        top: 50%;
        left: unset;
        transform: translateY(-50%);
    }
    
    .NextBtn{
        @include desktop_btn(#191970);
        border-radius: 0px 10px 10px 0px;
        margin-left: 20px;
        right: unset;
        position: unset;
        display: inline-block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    
  }